
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Pinyon+Script&display=swap');


/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family:Arial, Helvetica, sans-serif;
}

body p {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  border-radius: 5px;
}

input {
  min-height: 1.5rem;
}

/* end of reset */

body {
  position: relative;
  height: 100vh;
  min-width: 578px;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav p {
  padding: 8px 10px;
}

nav a {
  color: rgb(250, 235, 215);
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.notice, .alert {
  text-align: center;
  margin: 20px auto;
  max-width: 350px;
  border-radius: 5px;
  background-color: white;
}

.notice {
  color: rgb(102, 165, 102);
}

.alert {
  color:red;
}


h1, h2 {
  font-family: "Pinyon Script";
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 {
  text-align: center;
  font-size: 70px;
  padding: 5px;
  color: rgb(255, 224, 158);
}

h2 {
  font-size: 25px;
}

.author {
  color: rgb(124, 120, 120);
  font-size: 12px;
  margin-bottom: 2px;
}

.post-body {
  color: rgb(49, 48, 48);
  font-size: 14px;
  line-height: 1.25rem;
}

main {
  margin: 0 auto;
  width: 70%;
  max-width: 700px;
}

.posts-container {
  height: calc( 100vh * 0.55);
  overflow: auto;
}

.post {
  background-color: rgba(250, 235, 215, 0.815);
  padding: 10px 15px;
  margin: 15px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

.photo-credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.photo-credit, .photo-credit a {
  color: rgb(250, 235, 215);
}

.photo-credit a {
  text-decoration: none;
}

.photo-credit a:hover {
  text-decoration: underline;
}

/* css for registration forms */

.devise-forms {
  margin: 10px auto;
  width: fit-content;
  padding: 15px 15px;
  background-color: #c3d0e6d3;
  border-radius: 15px;
}

.spacer {
  height: 120px;
}

.devise-forms h2 {
  text-align: center;
  margin: 5px;
}

.devise-forms .field {
  font-size: 12px;
}

.devise-forms .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  display: flex;
  align-items: center;
}

.check label {
  padding-left: 5px;
}

.devise-forms .actions input {
  background-color: #336099;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 0;
  font-weight: bold;
}

.already-member, .not-a-member {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}

.already-member a, .not-a-member  a{
  color: rgba(0, 0, 0, 0.685);
}




/* css for post form */

.post-form {
  margin: 10px auto;
  width: fit-content;
  padding: 15px 15px;
  background-color: #c3d0e6d3;
  border-radius: 15px;
}

.field {
  margin-bottom: 10px;
  font-size: 12px;
}

.field label {
  display: block;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

#post_body {
  width: 60vw;
  height: 15rem;
}

.post-form .field:last-child {
  display: flex;
  justify-content: center;
}

.post-form .field:last-child input {
  background-color: #336099;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
